*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer-song-container{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 1rem;
}
.inner-song-container{
    height: 100%;
    width: 100%;
    background-color: #1a1a1a;
    padding: 2rem;
    border: none;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
}.right-container{
    width: 50%;
    height: 80%;
    background-color: rgb(58, 57, 57);
    padding: 2rem;
    padding-top: 3rem;
}
.songName{
    font-size: 3rem;
    margin-bottom: 2rem;
    color: white;
}
.song-desc{
    font-size: 1.5rem;
    color: rgb(177, 175, 175);
}
.play-button{
    width: 2rem;
    height: 2rem;
    padding-top: 1rem;
}
.play-svg {
    width: 3.5rem;
    border-radius: 50%;
    opacity: 3;
    padding: 0.8rem;
    transition: opacity 0.3s ease-in-out;
}
.footer-line{
}