*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.root{
    --background-base: #121212;
    --background-highlight: #1a1a1a;
    --background-press: #000;
    --background-elevated-base: #242424;
    --background-elevated-highlight: #2a2a2a;
    --background-elevated-press: #000;
    --background-tinted-base: hsla(0,0%,100%,.07);
    --background-tinted-highlight: hsla(0,0%,100%,.1);
    --background-tinted-press: hsla(0,0%,100%,.04);
    --text-base: #fff;
    --text-subdued: #a7a7a7;
    --text-bright-accent: #1ed760;
    --text-negative: #f15e6c;
    --text-warning: #ffa42b;
    --text-positive: #1ed760;
    --text-announcement: #3d91f4;
    --essential-base: #fff;
    --essential-subdued: #727272;
    --essential-bright-accent: #1ed760;
    --essential-negative: #e91429;
    --essential-warning: #ffa42b;
    --essential-positive: #1ed760;
    --essential-announcement: #0d72ea;
    --decorative-base: #fff;
    --decorative-subdued: #292929;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.left-container{
    width: 30%;
    height: 100vh;
    border: 1px solid black;
    background-color: #000;
}
.right-container{
    width: 70%;
    height: 100vh;
    border: 1px solid red;
}
.logo-image{
    padding: 1.5rem;
    opacity: 4;
}
.left-navbar{
    background-color: #121212;
    opacity: 2;
    border: none;
    border-radius: 8px;
    margin: 0.5rem;
}
.left-hero{
    height: 84.2%;
    background-color: #121212;
    border: none;
    border-radius: 8px;
    margin: 0.5rem;
}
