@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.root{
    --background-base: #121212;
    --background-highlight: #1a1a1a;
    --background-press: #000;
    --background-elevated-base: #242424;
    --background-elevated-highlight: #2a2a2a;
    --background-elevated-press: #000;
    --background-tinted-base: hsla(0,0%,100%,.07);
    --background-tinted-highlight: hsla(0,0%,100%,.1);
    --background-tinted-press: hsla(0,0%,100%,.04);
    --text-base: #fff;
    --text-subdued: #a7a7a7;
    --text-bright-accent: #1ed760;
    --text-negative: #f15e6c;
    --text-warning: #ffa42b;
    --text-positive: #1ed760;
    --text-announcement: #3d91f4;
    --essential-base: #fff;
    --essential-subdued: #727272;
    --essential-bright-accent: #1ed760;
    --essential-negative: #e91429;
    --essential-warning: #ffa42b;
    --essential-positive: #1ed760;
    --essential-announcement: #0d72ea;
    --decorative-base: #fff;
    --decorative-subdued: #292929;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* gap: 1rem; */
    font-family: "Poppins", sans-serif;
    background-color: #000;
}


::-webkit-scrollbar {
    border: 5px;
    width: 12px;
}


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
   
}


::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 100%, 0.3);
    border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
    background:  hsla(0, 0%, 100%, 0.45);
}




