<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album</title>
    <link rel="stylesheet" href="../styles/Album.css">
    <script src="../src/render-album.js" defer></script>
</head>

<body>
    <div class="container">
        <div class="album-data-box">
            <img src="../assets/account.png" alt="album-image" id="album-img">
            <div class="album-data">
                <div class="album-data-box1">
                    <h1 id="album-name">Name of Album</h1>
                    <h3 id="artist-name">Artist Name</h3>
                </div>
                <div class="album-data-box2">
                    <p id="album-description">Description</p>
                    <p id="album-year">Year:&nbsp;&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="album-song-container">
            <h2>Songs In This Album</h2>
            <div id="album-songs">
                <!--   songs will be added here dynamically -->
            </div>
        </div>
    </div>
</body>

</html>