<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../src/playlistsong.js" defer></script>
    <link rel="stylesheet" href="../styles/playlistsong.css">
</head>
<body>
    <div class="outer-playlist-container">
        <div class="nav-bar">
            <h1>playlist</h1>
        </div>
        <div class="specific-playlist-container" id="parent-of-song-container">
        </div>
    </div>
</body>
</html>