.root{
    --background-base: #121212;
    --background-highlight: #1a1a1a;
    --background-press: #000;
    --background-elevated-base: #242424;
    --background-elevated-highlight: #2a2a2a;
    --background-elevated-press: #000;
    --background-tinted-base: hsla(0,0%,100%,.07);
    --background-tinted-highlight: hsla(0,0%,100%,.1);
    --background-tinted-press: hsla(0,0%,100%,.04);
    --text-base: #fff;
    --text-subdued: #a7a7a7;
    --text-bright-accent: #1ed760;
    --text-negative: #f15e6c;
    --text-warning: #ffa42b;
    --text-positive: #1ed760;
    --text-announcement: #3d91f4;
    --essential-base: #fff;
    --essential-subdued: #727272;
    --essential-bright-accent: #1ed760;
    --essential-negative: #e91429;
    --essential-warning: #ffa42b;
    --essential-positive: #1ed760;
    --essential-announcement: #0d72ea;
    --decorative-base: #fff;
    --decorative-subdued: #292929;
}
.left-container{
    width: 30%;
    height: 100vh;
    border: 1px solid black;
    background-color: #000;
    /* overflow-y: scroll; */
}
.right-container{
    width: 70%;
    height: 100vh;
}
.logo-image{
    padding: 1.5rem;
    opacity: 4;
}
.left-navbar{
    background-color: #121212;
    opacity: 2;
    border: none;
    border-radius: 8px;
    margin: 0.5rem;
    height: 12%;
    margin-right: 0%;
}
.left-hero{
    height: 84.5%;
    background-color: #121212;
    border: none;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 0.5rem;
    margin-right: 0%;
    /* cursor: all-scroll; */
    overflow: hidden;
    margin-bottom: 0rem;
}
.right-navbar{
    background-color: #121212;
    border: none;
    border-radius: 8px;
    margin: 0.5rem;
    padding: 1.5rem;
    height: 12%;
    margin-bottom: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.home_text{
    font-weight: 700px;
    color: #ffffff;
    text-align: center;
}
.home-section{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    /* text-align: center; */
    align-items: center;
}
.search-section{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}
.search_text{
    font-weight: 700px;
    color: gray;
    text-align: center;
}
.search-Img:hover{
    fill: #ffffff;
}
.search_text:hover{
    color: #ffffff;
}
.hometext,.searchtext{
    text-decoration: none;
}
.left-box{
    display: flex;
    flex-direction: column;
    background-color: #1c1c1c;
    overflow-y: scroll;
    width: 100%;
    height: 25rem;
    padding: 0.8rem;
}
.left-box h2{
    color: white;
}

.left-card {
    height: fit-content;
    min-width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10%;
    padding: 1rem;
    cursor: pointer;
    border-radius: 10px;
}

.left-card-para1 {
    color: #ffffff;
}

.left-card-para2 {
    color: #a6a6a6;
}

.left-card:hover {
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);

    .right-card-play-svg {
        opacity: 1;
    }
}

.artist-img{
    border-radius: 5px;
    width: 40%;
    border: 1px solid black;
    color: white;
}
.artist-desc{
    display: flex;
    flex-direction: column;
}
.left-footer{
    background-color: #1c1c1c;
    height: 12rem;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 4rem;
    padding-top: 2rem;
    overflow: hidden;
}
.footer-box{
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
}
.uppar-box{
    background-color: #1c1c1c;
    display: grid;
    grid-template-areas: 
       "leagal safety safety"
       "privacy cookies about"
       "accessibility accessibility accessibility"
    ;
    column-gap: 0.8rem;
}
#legal{
    grid-area: legal;
}
#safety{
    grid-area: safety;
}
#privacy{
    grid-area: privacy;
}
#cookies{
    grid-area: cookies;
}
#about{
    grid-area: about;
}
#accessibility{
    grid-area: accessibility;
}
#grid-item{
    font-size: 0.85rem;
    text-decoration: none;
    color: #a6a6a6;
}
#lower-cookies{
    font-size: 0.85rem;
    text-decoration: none;
    color: #a6a6a6;
}