@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    background-color: #000;
    justify-content: center;
    color: white;
}


::-webkit-scrollbar {
    border: 5px;
    width: 12px;
}


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;

}


::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 100%, 0.3);
    border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 100%, 0.45);
}




.container {
   /*  background-color: #1c1c1c; */
    width: 95%;
    border-radius: 1rem;

}

#search-heading {
    margin-top: 30px;
    padding: 2%;
    font-size: 2.5rem;
    border-radius: 1rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    background-color: #1c1c1c;
}


/* CSS */
.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}


.navbar {
    display: flex;
    flex-direction: row;
    padding: 2%;
    justify-content: space-evenly;
    border-radius: 1rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    background-color: #1c1c1c;
}

.sections {
    padding: 2%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: #1c1c1c;
}

.content-card {
    padding: 2%;
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: 8rem;
}

.content-card-play-svg {
    cursor: pointer;
    position: absolute;
    width: 3rem;
    top: 60%;
    right: 80%;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


.content-card img {
    border-radius: 10px;
    width: 20%;
    color: white;
}

.content-card-p-1 {
    font-size: x-large;
    color: #ffffff;
}

.content-card-p-2,
.content-card-p-3 {
    color: #a6a6a6;
    font-size: larger;
}

.top-card-info {
    padding: 3%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.content-card:hover {
    .content-card-play-svg {
        opacity: 1;
    }

}

.category-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 0.5rem;
    overflow-x: auto;
}

.category-card {
    min-width: 180px;
    width: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: fit-content;
}

.category-card img {
    border-radius: 5px;
    width: 10rem;
}
.category-card-para1{
    color: #ffffff;
}
.category-card-para2{
    color: #a6a6a6;
}

.category-card-play-svg {
    cursor:pointer;
    position: absolute;
    width: 15%;
    top: 6rem;
    left: 60%;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.category-card:hover {
    border-radius: 5px;
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);

    .category-card-play-svg {
        opacity: 1;
    }
}
.artist-category-card:hover{
    cursor: pointer;
}


#top-not-found{
    display: none;
}

#song-not-found{
    display: none;
}

#artist-not-found{
    display: none;
}
#album-not-found{
    display: none;
}

#playlist-not-found{
    display: none;
}
